package web

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>SvelTemple - POC</title>
			<link href="assets/css/output.css" rel="stylesheet"/>
			// <script src="assets/js/htmx.min.js"></script>
			<script type="module" crossorigin src="/assets/main-El9w0LwO.js"></script>
			<link rel="stylesheet" crossorigin href="/assets/main-D6v-oP4g.css"/>
		</head>
		<body>
			<main id="app">
				{ children... }
			</main>
		</body>
	</html>
}
