package web

templ Home() {
	@Base() {
		<h1>Home</h1>
		@Nav()
		<div class="boxes">
			<div class="box">
				@Svelte("BoxOne", []byte(homeProps()))
			</div>
			<div class="box">
				@Svelte("BoxTwo", nil)
			</div>
		</div>
	}
}

func homeProps() []byte {
	return []byte(`{"name": "isomorphic props!"}`)
}
