package web

templ Nav() {
	<div class="flex gap-5 justify-center my-5">
		<a href="/">Home</a>
		<a href="/page">Page 2</a>
		<a href="/no-svelte">No Svelte Page</a>
		<a href="/trello-clone">A Trello Clone</a>
	</div>
}
