package web

templ Page() {
	@Base() {
		<h1>Page</h1>
		<div>
			<a href="/">Home</a>
		</div>
		<div class="boxes">
			<div class="box" id="hash-from-go-vite-aware-2">
				@Svelte("BoxTwo", nil)
			</div>
			<div class="box" id="hash-from-go-vite-aware-3">
				@Svelte("BoxThree", nil)
			</div>
		</div>
	}
}
