package web

import "rogchap.com/v8go"

templ PageOne(iso *v8go.Isolate) {
	@Base() {
		<div class="boxes">
			<div class="box" id="hash-from-go-vite-aware-1" data-props={ pgOneProps() }>
				@SvelTemplComponent("BoxOne", iso, []byte(pgOneProps()))
			</div>
			<div class="box" id="hash-from-go-vite-aware-2">
				@SvelTemplComponent("BoxTwo", iso, nil)
			</div>
		</div>
	}
}

func pgOneProps() string {
	return `{"name": "isomorphic props!"}`
}
