package web

import (
	"context"
	"io"
)

// A SvelTempl Component is a Templ code-only component with unescaped html passed as its content
func SvelTemplComponent(html string) templ.Component {
	return templ.ComponentFunc(func(ctx context.Context, w io.Writer) error {
		_, err := io.WriteString(w, html)
		return err
	})
}

templ SvelTemplBase(child templ.Component) {
	@Base() {
		@child
	}
}
