package web

import "encoding/json"

func props() []byte {
	props := map[string]interface{}{
		"board": GlobalBoard,
	}

	boardJSON, _ := json.Marshal(props)

	return boardJSON
}

templ TrelloClone() {
	@Base() {
		<h1>sveltempl</h1>
		@Nav()
		@Svelte("TrelloClone", props())
	}
}
